<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.molmc.ginkgo.user" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application android:theme="@style/BasicAppTheme">

        <activity
            android:name=".activity.login.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.signup.SignUpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.user.UserActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <!-- service -->
        <service android:name="org.eclipse.paho.android.service.MqttService" />
    </application>
</manifest>
